	<key>CFBundleDocumentTypes</key>
	<array>
    <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
            <string>md</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>md-viewer.icns</string>
        <key>CFBundleTypeName</key>
        <string>public.markdown</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>LSItemContentTypes</key>
        <array>
            <string>public.markdown</string>
        </array>
    </dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
    <dict>
        <key>UTTypeConformsTo</key>
        <array>
            <string>public.data</string>
        </array>
        <key>UTTypeIdentifier</key>
        <string>public.markdown</string>
        <key>UTTypeTagSpecification</key>
        <dict>
            <key>com.apple.ostype</key>
            <string>markdown</string>
            <key>public.filename-extension</key>
            <array>
                <string>md</string>
            </array>
            <key>public.mime-type</key>
            <string>text/markdown</string>
        </dict>
    </dict>
	</array>
